<table class="ui celled table">
  <thead>
    <tr><th class="collapsing">ID</th>
    <th>作品タイトル</th>
    <th>ストーリータイトル</th>
    <th>MATCHING</th>
    <th>URL</th>
    <th>管理</th>
  </tr></thead>
  <tbody>
    <% @stories.each do |story| %>
        <tr>
         <td ><%= story.id %></td>
         <td class="collapsing"><%= story.w_title.truncate(20) %></td>
         <td class="collapsing"><%= story.s_title.truncate(20) %></td>
         <td class="collapsing"><%= story.matching.truncate(20) %></td>
         <td class="collapsing"><%= link_to "#{story.url.truncate(10)}", "#{story.url}", { :target => "_blank"}   if !story.url.nil? %></td>
         <td>
          <%= link_to "編集", edit_story_path(story.id), { :class => "ui olive button" } %>
          <%= link_to "削除", story, { :class => "ui red button", method: :delete, data: { confirm: "本当に削除してもいいですか？" }} %>
         </td>
        </tr>
    <% end %>
  </tbody>
</table>