<div class="ui segment">
  <h3 class="ui right aligned header">
    <%= link_to 'UI', pages_bot_path %>
    <%= link_to 'アニメ一覧', animes_path %>
    <%= link_to '作品一覧', bots_path %>
    <%= link_to 'ストーリ一覧', stories_path %>
    <%= link_to 'チャンネル一覧', channels_path %>
    <%= link_to '作品のスクレイピング', bots_scraping_path %>
    <%= link_to '各話のスクレイピング', stories_scraping_path %>
    <%= link_to 'チャンネルのスクレイピング', channels_scraping_path %>
  </h3>
</div>